/* general config */
a {
    color: var(--text-color);
}

.subtitle {
    font-size: 14px;
}

/* Scrollbar config */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    opacity: 0;
}

::-webkit-scrollbar-thumb {
    background-color: var(--text-color);

}

/* Colors */

:root {
    --main-color: #202C33;
    --secondary-color: #111B21;
    --sent-message-color: #005C4B;
    --text-color: #A5B1B8;
    --notify-color: #8edafc;
}

body {
    background-color: var(--secondary-color);
    overflow: hidden;
}

.mycontainer {
    color: var(--text-color);
    width: 85%;
    margin: 5rem auto;
    height: 100vh;
}

#top-aside {
    background-color: var(--main-color);
}

/* aside config */
aside {
    width: 400px;
}

/* searchbar config */
#searchBar {
    background-color: var(--main-color);
}


/* Img box config */
.imgBox {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.imgBox>img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.imgBox i {
    color: var(--notify-color);
}


/* Alert section config */
#alertMsg {
    background-color: var(--notify-color);
}

/* Contact section config */
#contactContainer {
    background-color: var(--secondary-color);
    height: 200px;
    overflow-y: auto;
}

/* Hover settings */
i:hover {
    cursor: pointer;
}